
ul.navigation,
ul.navigation li,
ul.navigation ul,
a {
    padding: 0px;
    font-size: 15px;
    text-decoration: none;
}
ul.navigation,
ul.navigation li {
    list-style: none;
}
ul.navigation li {
    position: relative;
    float: left;
}

/* 選單 li 裡面連結之樣式 */

ul.navigation li a {
    display: block;
    padding: 12px 20px;
    /*background: #888;*/
    color: black;
}

/* 特定在第一層，以左邊灰線分隔 */

ul.navigation > li > a {
    border-bottom: 1px solid #CCC;
    border-left: 1px solid #CCC;
}
ul.navigation > li > a:hover {
    color: #666;
    background: #DDD
}

/* 特定在第一層 > 第二層之後下拉部分之樣式 */

ul.navigation li ul {
    display: none;
    float: left;
    position: absolute;
    left: 0;
    margin: 0;
}

/* 當第一層選單被觸發時，指定第二層顯示 */

ul.navigation li:hover > ul {
    display: block;
}

/* 特定在第二層或之後下拉部分 li 之樣式 */

ul.navigation ul li {
    border-bottom: 1px solid #DDD;
}

/* 特定在第二層或之後下拉部分 li （最後一項不要底線）之樣式 */

ul.navigation ul li:last-child {
    border-bottom: none;
}

/* 第二層或之後 選單 li 之樣式 */

ul.navigation ul a {
    width: 120px;
    padding: 10px 12px;
    color: #666;
    background: #EEE;
}
ul.navigation ul a:hover {
    background: #CCC;
}

/* 第三層之後，上一層的選單觸發則顯示出來（皆為橫向拓展） */

ul.navigation ul li:hover > ul {
    display: block;
    position: absolute;
    top: 0;
    left: 100%;
}

 .b_add {
     font-size: 14px;
     border-radius: 7px;
 }
 .all {
     margin: 0px auto;
     width: 920px;
     height: auto;
 }
 .b_find {

     width: 65px;
     height: 35px;
     border-radius: 6px;
     float: right;
 }
 .b_del {

 }
 .b_c_del {

 }
 .condition_b {
     width: 24px;
     height: 24px;
     border-radius: 12px;
     float: right;
     border: 0px;
 }

 .done {
     display: none;
 }

 .s_block {

     text-align: center;
 }

 .div_add {
     padding: 0px;
     margin: 0 auto;
 }
 .title {
     width: 300px;
     text-align: center;
     font-weight: normal;
     font-size: 35px;
     font-family: cursive;
     color: coral;
 }
